@import url('../../node_modules/beerslider/dist/BeerSlider.css');
.app-imagecompare2 {
    margin-bottom: 25px;
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        >.content-text {
            flex: 1;
        }
    }

    @media (max-width: 885px) {
        .content > div {
            width: 100%;
        }
    }
}