@import url('../../node_modules/beerslider/dist/BeerSlider.css');
.app-imagecompare2 {
    margin-bottom: 25px;
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        >div {
            width: calc(50% - 10px);
        }
    }
    .reverse-col {
        flex-wrap: wrap-reverse;
    }

    @media (max-width: 885px) {
        .content > div {
            width: 100%;
        }
    }
}